body{
background-repeat:no-repeat;
background-size:100%;
background-color:#e9e9e9;
}

.box1{
background-image: url(/Zumron/templates/zumron_base/images/active-slide-bg.png);
height: 259px;
width: 362px;
float: left;}

.all{
width: 1100; 
height: 400px; 
margin: 0px auto -1px auto;
padding-top:25px; 
}
.dragbox h1{
color: white;
font-family: verdana;
font-size: 0.7em;
width: 354px;
background: url(images/content-menu-bg.png);
margin-top: 4px;
}
.dragbox-content{
	color:#323B44;
font-family: verdana;
text-align: left;
padding-left: 16px;
font-size: 14px;
}
.dragbox-content a{
    text-decoration:none;
    color:#323b44;
}

.dragbox-content a:hover{
    text-decoration:none;
    color:#ffffff;
}
#clearfix{
	float:left;	
	
}
