.all-rounded {
}
 
.spacer {
	display: block;
width:0px;
}
 
#progress-bar {
	width: 120px;
	margin: 0 auto;
	background: white;
	/*border: 3px solid #f2f2f2;*/
	height:12px;
}
 
#progress-bar-percentage {
	background: #C5E946;
	padding: 0px 0px;
 	color: #FFF;
	font-size:8px;
 	font-weight: bold;
 	text-align: center;
	height:12px;
}

.body{

background-repeat:no-repeat;
background-size:100%;
}
.all
{

width:980px;  
margin:0 auto; }


.cpulabel{
	float:left;
}

.cpupercentage{

	float:right;
}

.column-left{
	width:200;
	margin-right:.5%;
	min-height:300px;
	/*background:#fff;*/
	float:left;
}
.column-left .dragbox{
	margin:5px 2px  20px;
	background:#fff;
	position:relative;
/*	border:1px solid #ddd;*/
}
.column-left .dragbox h2{
	margin:0;
	font-size:12px;
	padding-left:15px;
	padding-top:5px;
	/*background:#f0f0f0;*/
	color:#000;
	/*border-bottom:1px solid #eee;*/
	font-family:Verdana;
	/*cursor:move;*/
}


.column-middle{
	width:320px;
	margin-right:.5%;
	min-height:300px;
	float:left;
}
.column-middle .dragbox{
	margin:1px 1px 0px;
	position:relative;

	
}
.column-middle .dragbox h2{
	margin:0;
	font-size:12px;
	padding-left:15px;
	padding-top:5px;
	
	color:#fff;
	font-weight:bold;
	
	font-family:Verdana;
	
}


.column-right{
	width:200;
	margin-right:.5%;
	min-height:300px;

	float:left;
}
.column-right .dragbox{
	margin:5px 2px  20px;
	background:#fff;
	position:relative;


}
.column-right .dragbox h2{
	margin:0;
	font-size:12px;
	padding-left:15px;
	padding-top:5px;
	/*background:#f0f0f0;*/
	color:#000;
	
	font-family:Verdana;
	/*cursor:move;*/
}

.dragbox-content{
	
	min-height:100px; 
	margin:3px;
	padding-left:10px;
	padding-bottom:10px;
	font-family:'Lucida Grande', Verdana; font-size:0.8em; line-height:1.5em;
}
.column  .placeholder{
		
	
}
.column-middle .box1{
background-image: url(/Zumron/templates/zumron-base/main/media/block.png);
height: 167px;
color:#fff;
font-size:12px;
margin:5px;
}
.column-middle .box2{
background-image: url(/Zumron/templates/zumron-base/main/media/block.png);
height: 167px;
margin:5px;
}
.column-middle .box3{
background-color:#0dc56e;
}
.column-middle .box4{
background-color:#bee85b ;
}
.column-middle .box5{
background-color:#111111 ;

}
.column-middle .box6{
background-color:#5bbde7;
}
.column-middle .box7{
background-color:#5b1d83 ;
color:#fff;
font-size:12px;

}

.column-middle .box2 a{
color:#fff;
font-size:10px;
font-family:Verdana;
text-decoration:none;
}
.column-middle .box2 a:hover{

color:#999	;
font-size:10px;
font-family:Verdana;
}
.column-middle .box2{

color:#fff;
font-size:12px;
}
.column-middle .box2 a{
color:#fff;
font-size:10px;
font-family:Verdana;
text-decoration:none;
}
.column-middle .box2 a:hover{
background-color:#5b1d83 ;
color:#999	;
font-size:10px;
font-family:Verdana;
}
.column-middle .box9{
background-color:#f03a21;
color:#fff;
font-size:12px;	
}



